{% extends "core/base.html" %}

{% block title %} Sign up {% endblock %}

{% block content %}
    <h1 class="text-xl text-white">Sign Up</h1>
    <form action="." method="post" class="bg-gray-900 p-6 rounded-lg shadow-md">
        {% csrf_token %}
        <div class="space-y-4 text-white">
            {{ form.as_p }}
        </div>
        <button class="mt-4 py-2 px-6 bg-cyan-700 text-white font-semibold rounded-xl hover:bg-cyan-600">
            Submit
        </button>
    </form>
{% endblock content %}
